.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 15px;
    color: #333;
}

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
}